@using System;
@using Forp.Game
@inherits PanelComponent

<root>
    <watermark>Forward Operating: Repair the Planet Infdev @(DateTime.Now.ToShortDateString())</watermark>
    @(GamePlayer.Local.CameraMode.ToString())
    <static-bar>
        @(UiInfo.GetTopBarString())
    </static-bar>

    @if (UiInfo.AnythingSelected())
    {
        <bottom-bar>
            <selected-name>@(UiInfo.GetBottomBarString())</selected-name>
        </bottom-bar>
        <build-unit-container>
            @foreach (var (BuildString, Index) in UiInfo.BuildObjects.Select((v, i) => (v, i)))
            {
                <build-unit>
                    <button onclick="@(() => OnUnitBuildClick(Index))">@BuildString</button>
                </build-unit>
            }
        </build-unit-container>
    }

    <next-turn-button onclick="@OnNextTurnClick">
        Next Turn. @(GameManager.Instance.Turn)
    </next-turn-button>
</root>

@code
{
    protected override int BuildHash()
    {
        return HashCode.Combine(Time.Now);
    }

    private Forp.Game.FPlayerUiInfo UiInfo;

    protected override void OnUpdate()
    {
        base.OnUpdate();

        if (!Forp.Game.GamePlayer.Local.IsValid())
        {
            return;
        }

        Forp.Game.GamePlayer.Local.GetPlayerUiInfo(out UiInfo);
    }

    private void OnNextTurnClick()
    {
        GameManager.Instance.NextTurn();
    }

    private void OnUnitBuildClick(int Index)
    {
        var SelectedSplitStrings = UiInfo.BuildObjects[Index].Split(" ", 2);
        var BuildId = SelectedSplitStrings[0];
        var Cost = int.Parse(SelectedSplitStrings[1].TrimStart("$"));
        GameManager.Instance.Server_QueueHexObject(BuildId, UiInfo.SelectedHex, Cost);
    }
}
